* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

header {
  background-color: #fbbc04;
  margin: auto;
  padding: 1rem 2rem;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.4);
}

header h1 {
  color: #fff;
  font-family: 'Georama', sans-serif;
  font-weight: 700;
}

.note {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 30%;
  padding: 2rem 0.75rem;
  margin: 20px;
}

.note h1 {
  margin-bottom: 1rem;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  height: 2rem;
  width: 100%;
}