.note__card--wrapper {
  margin-top: 1rem;
  border: 1px solid #e4e4e4;
  padding: 1rem 0.6rem;
  width: 25rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
}

.note h1 {
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.note p {
  margin-bottom: 1rem;
}